#success_message{ display: none;}

h5 {
	text-align: center;
}

body {
	background-color: #00b4d2;
	font-family: Helvetica;
	font-weight: bold;
	margin: 100px auto;
}

legend {
	text-align: center;
}

.form-group {
	font-family: Helvetica;

}

.container {
	margin: 100px auto;
	background: #00b4d2;
}

#exception {
	color: red;
}
